<h1>Results</h1>
<% if @length < 0 %>
<p>Sorry, we could not find any results for '<%= @query%>'</p>
<% else %>
<p>Showing results for '<%= @query%>'</p>
<ul>
<% (0..@length).each do |i| %>
	<li>
		<%= @movies[i].title %>
	</li>
	<% end %>
</ul>
<% end%>
