<h1>Results</h1>
<% if @query.empty? %>
<p>You did not enter any text. Try again.</p>
<% elsif @length < 0 %>
<p>Sorry, we could not find any results for, '<%= @query%>'.</p>
<% else %>
<p>Showing results for, '<%= @query%>'.</p>
<ul>
<% (0..@length).each do |i| %>
	<li>
		<%= link_to @movies[i].title, @movies[i].url, {:target => "_blank"} %>
	</li>
	<% end %>
</ul>
<% end%>
