<% if not signed_in? %>
<h1>Welcome fellow cinephiles!</h1>
<p>Cinephilia lets you explore your movie interests, and connect with those who have similar movie interests to you.
</p>
<p><%= link_to "Sign up now!", signup_path %></p>
<% else %>
<%= current_user.name %>
<% end %>

