<div id="footer">
	<p>
		&copy; 2012 <strong>Cinephilia Productions</strong>
		&nbsp;&nbsp;&nbsp;&nbsp; Website Templates by <a href="http://www.styleshout.com/">styleshout</a>
		&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "About", about_path %> | <%= link_to "Contact", contact_path %> | <%= link_to "Help", help_path %> | <a href="https://validator.w3.org/check?uri=referer">XHTML</a> | <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS</a>
	</p>
</div>