<div id="footer">
	<p>
		&copy; 2012 <strong>Cinephilia Productions</strong>
		&nbsp;&nbsp;&nbsp;&nbsp; Website Templates by <a href="http://www.styleshout.com/">styleshout</a>
		&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "About", about_path %> | <%= link_to "Contact", contact_path %> | <%= link_to "Help", help_path %> | <a href="http://validator.w3.org/check?uri=https%3A%2F%2Fcinephilia.herokuapp.com%2F&charset=%28detect+automatically%29&doctype=Inline&group=0">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fcinephilia.herokuapp.com%2Fassets%2Fenvision12%2Fimages%2FEnvision-29ed93d7c38cb2fc7b7b95cecc1aa1d0.css&profile=css21&usermedium=all&warning=1&vextwarning=&lang=en">CSS</a>
	</p>
</div>