				<div id="sidebar">
					<h3>Find a movie</h3>
					<%= form_tag("/results", :method => "get", :class => "searchform") do%>
					<p>
						<%= text_field_tag 'q',nil,:class => "textbox" %>
						<%= submit_tag("Search", :class => "button") %>
					</p>
					<%end%>
					<h3>My Cinephilia</h3>
					<ul class="sidemenu">
						<li>
							<a href="#">Friends</a>
						</li>
						<li>
							<a href="#">Movies</a>
						</li>
						<li>
							<a href="#">Reviews</a>
						</li>
						<li>
							<a href="#">Suggestions</a>
						</li>
					</ul>
					<h3>Links</h3>
					<ul class="sidemenu">
						<li>
							<a href="http://www.imdb.com">IMDB</a>
						</li>
						<li>
							<a href="http://www.rottentomatoes.com/">Rotten Tomatoes</a>
						</li>
						<li>
							<a href="http://www.netflix.com">Netflix</a>
						</li>
						<li>
							<a href="http://www.flixster.com/">Flixster</a>
						</li>
					</ul>
					<br />
					<br />
				</div>